@charset "UTF-8";
@font-face {
	font-display: swap;
	font-family: Gotham;
	font-style: normal;
	font-weight: 300;
	src: local("Gotham Light"), local("Gotham-Light"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-light.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-light.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Gotham;
	font-style: normal;
	font-weight: 400;
	src: local("Gotham Book"), local("Gotham-Book"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-book.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-book.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	src: local("Gotham Medium"), local("Gotham-Medium"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-medium.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-medium.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Gotham;
	font-style: normal;
	font-weight: 700;
	src: local("Gotham Bold"), local("Gotham-Bold"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-bold.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/gotham-bold.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Caecilia;
	font-style: normal;
	font-weight: 400;
	src: local("Caecilia LT Pro 55 Roman"), local("CaeciliaLTPro-55Roman"), local("PMN Caecilia Com 55 Roman"), local("CaeciliaCom-55Roman"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-55-roman.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-55-roman.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Caecilia;
	font-style: normal;
	font-weight: 700;
	src: local("Caecilia LT Pro 75 Bold"), local("CaeciliaLTPro-75Bold"), local("PMN Caecilia Com 75 Bold"), local("CaeciliaCom-75Bold"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-75-bold.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-75-bold.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Caecilia;
	font-style: italic;
	font-weight: 400;
	src: local("Caecilia LT Pro 56 Italic"), local("CaeciliaLTPro-56Italic"), local("PMN Caecilia Com 56 Italic"), local("CaeciliaCom-56Italic"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-56-italic.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-56-italic.woff) format("woff");
}

@font-face {
	font-display: swap;
	font-family: Caecilia;
	font-style: italic;
	font-weight: 700;
	src: local("Caecilia LT Pro 76 Bold Italic"), local("CaeciliaLTPro-76BoldItalic"), local("PMN Caecilia Com 76 Bold Italic"), local("CaeciliaCom-76BoldItalic"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-76-bold-italic.woff2) format("woff2"), url(https://d1uyme8f6ss6qi.cloudfront.net/font/caecilia-lt-pro-76-bold-italic.woff) format("woff");
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-size: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	background: white;
	color: #6A778B;
	font-family: Caecilia, sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #262626;
	font-family: Gotham, sans-serif;
	font-weight: 500;
}
h1 {
	font-size: 2.75em;
	letter-spacing: calc(-0.5 / 44 * 1em);
	line-height: calc(46 / 44);
}
h2 {
	font-weight: 400;
	font-size: 2.125em;
	line-height: calc(46 / 40);
	letter-spacing: -0.2px;
	margin-top: 1.6em;
	margin-bottom: 0.4em;
}
.q-subheading {
	color: #707F93;
	font-size: 2.25em;
	font-weight: 300;
	letter-spacing: calc(-0.5 / 36 * 1em);
	line-height: calc(42 / 36);
}
h3 {
	color: #1D2737;
}
h4,
h5,
h6 {
	color: #30405B;
}
a:link,
a:visited {
	color: #2E8BE0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.nowrap {
	white-space: nowrap;
}
.hidden.hidden {
	display: none;
	visibility: hidden;
}


/*
 * general text styles
 */
h1.page-title {
	font-size: calc(44 / 16 * 1rem);
	letter-spacing: calc(-0.5 / 44 * 1em);
	line-height: calc(46 / 44);
}
h1.page-subtitle {
	font-weight: 300;
	font-size: calc(36 / 16 * 1rem);
	color: #707F93;
	letter-spacing: calc(-0.5 / 36 * 1em);
	line-height: calc(42 / 36);
}
h2.section-header {
	font-weight: 400;
	font-size: calc(40 / 16 * 1rem);
	letter-spacing: calc(-0.2 / 40 * 1em);
	line-height: calc(46 / 40);
}
h3,
.q-heading-3 {
	font-weight: 400;
	font-size: calc(26 / 16 * 1rem);
	color: #1D2737;
	letter-spacing: calc(-0.3 / 26 * 1em);
	line-height: calc(38 / 26);
}
h4,
.q-heading-4,
a.q-heading-4 {
	font-family: Gotham, sans-serif;
	font-size: calc(17 / 16 * 1rem);
	font-weight: 500;
	color: #30405B;
	letter-spacing: calc(-0.2 / 17 * 1em);
	line-height: calc(23 / 17);
}


/*
 * community header styles
 */
.q-header__background {
	background: #EEEFF2;
	font-family: Gotham, sans-serif;
	height: 82px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: height 0.4s;
	width: 100%;
	z-index: 99;
}
.q-header__background.active {
	height: 100%;
}
.q-header__background,
.q-header__background a:link,
.q-header__background a:visited {
	color: #262626;
	text-decoration: none;
}
.q-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 2rem;
}
.q-header__logo {
	align-items: center;
	display: flex;
	margin: 23px 0 24px;
	max-height: 57px;
}
.q-header__logo .q-logo-shield {
	display: block;
	overflow: hidden;
	width: 30px;
	height: 35px;
	transition: width 0.2s;
}
.q-header__logo .q-logo-text {
	display: block;
	margin-left: calc(1 / 3 * 1em);
}
.q-header__logo-community {
	font-weight: 300;
	font-size: 18px; /* MUST be fixed to match logo */
	line-height: 1;
}
a.q-header__logo-community:hover {
	color: inherit;
}
.q-user-menu {
	height: 40px;
	position: relative;
	width: 40px;
}
.q-hamberger-menu {
	width: 40px;
	height: 40px;
}
.q-hamburger-menu__container {
	height: 0;
	margin-top: 2rem;
	min-width: calc(-2rem + 100vw + -2rem);
	opacity: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transform: translate(0, -1rem);
	transition: opacity 0.4s, transform 0.4s;
	visibility: hidden;
}
.q-hamburger-menu__container.active {
	opacity: 1;
	height: calc(100vh - 92px);
	visibility: visible;
	transform: translate(0, 0);
}
.q-user-menu li {
	padding-left: 2rem;
	padding-right: 2rem;
}


.q-user-menu__icon,
.q-hamburger-menu__icon {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	opacity: 1;
	overflow: hidden;
	transform: translate(0, 0) rotate(0);
	transition: opacity 0.2s, height 0.2s, transform 0.6s, visibility 0 0.2s, display 0 0.2s;
	width: 40px;
}
.q-user-menu__icon.hidden {
	opacity: 0;
	transform: translate(0, 0.25em);
}
.q-user-menu__icon {
	margin-right: calc(calc(40px - 19px) / 2 * -1);
}
.q-hamburger-menu__icon {
	margin-left: calc(calc(40px - 23px) / 2 * -1);
}


/*
 * change hamburger into and X for closing
 */
.q-hamburger-menu__icon rect:nth-child(2) {
	opacity: 1;
	transition: opacity 0.05s;
}
.q-hamburger-menu__icon.active rect:nth-child(2) {
	opacity: 0;
}
.q-hamburger-menu__icon rect:nth-child(1),
.q-hamburger-menu__icon rect:nth-child(3) {
	transform: translate(0, 0) rotate(0);
	transition: transform 0.2s;
}
.q-hamburger-menu__icon.active rect:nth-child(1) {
	transform: translate(8px, -1px) rotate(45deg);
}
.q-hamburger-menu__icon.active rect:nth-child(3) {
	transform: translate(-8px, 8px) rotate(-45deg);
}


.q-header__nav,
.q-header__nav ul,
.q-user-menu__container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.q-header__nav a,
.q-header__nav li > span,
.q-user-menu__container a {
	display: inline-block;
	padding: 1rem 0;
	font-size: calc(18 / 16 * 1rem);
	font-weight: 500;
	letter-spacing: -0.13px;
	line-height: 1;
}
.q-navigation__item .active {
	font-weight: 500;
}
.q-navigation__desktop-only {
	display: none;
	visibility: hidden;
}
/*
 * sub-nav styles
 */
.q-header__nav {
	position: relative;
	left: 0;
	opacity: 1;
	transition: left 0.4s;
}
.q-header__nav.active {
	left: -100vw;
}
.q-header__nav-sub {
	left: 100vw;
	min-width: 100%;
	position: absolute;
	top: 0;
}
.q-header__nav li.q-browser-by-topic > span {
	font-size: calc(12 / 16 * 1rem);
	line-height: 1.5;
	opacity: 0.5;
	text-transform: uppercase;
}
.q-header__nav-back {
	background: none;
	border: 0 none;
	font-size: inherit;
	font-weight: inherit;
}
.q-header__nav-back::before {
	content: "←";
	padding-right: 0.5ex;
}


/*
 * header dropdown menu styles
 */
.q-header__nav li:hover .q-header__nav-sub {
	visibility: visible;
	opacity: 1;
	transition-delay: 0, 0;
	transition-duration: 0.4s, 0;
	transition-timing-function: ease-out;
}
.q-header__nav-sub li {
	list-style: none;
}
.q-header__nav-sub li:last-child {
	margin-bottom: 0;
}
.q-header__nav-sub a {
	color: #30405B;
	font-size: calc(18 / 16 * 1rem);
	font-weight: 500;
	letter-spacing: -0.17px;
	/* line-height: calc(20 / 13); */
}
.q-button__light-blue,
a.q-button__light-blue,
a:link.q-button__light-blue,
a:visited.q-button__light-blue {
	background: #6CA3CF;
	border-radius: 2px;
	color: white;
	display: inline-block;
	font-family: Gotham, sans-serif;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.2px;
	padding: 16px 25px 17px;
	text-align: center;
}
a:hover.q-button__light-blue {
	text-decoration: none;
}
.q-button__start-a-discussion,
a.q-button__start-a-discussion,
a:link.q-button__start-a-discussion,
a:visited.q-button__start-a-discussion {
	margin: 24px 0;
	display: inline-block;
	min-width: 13em;
	position: relative;
}
.q-header__background nav .q-button__start-a-discussion,
.q-header__background nav a.q-button__start-a-discussion,
.q-header__background nav a:link.q-button__start-a-discussion,
.q-header__background nav a:visited.q-button__start-a-discussion {
	background-clip: border-box;
}
/*
 * shared user menu styles
 */
.q-user-menu__logged-in {
	display: none;
	visibility: hidden;
}
/*
 * community body styles
 */
.q-sub-header {
	background-color: #2C75BE;
}
.q-sub-header__container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}
.q-body {
	margin: 0 auto;
	max-width: 1440px;
}
.q-body__container {
	margin: 0 5%;
}
.q-community-headline {
	color: white;
	font-size: 1.5em;
	font-size: calc(25 / 16 * 1em); /* temp to match blog */
	margin: 0 0 0.75em;
	padding: calc(2 / 3 * 1em) 5%;
}
.q-section {
	margin: 5em 0;
}
.q-section--first {
	margin-top: 0;
}
.q-section-opening {
	margin-bottom: 5em;
}
.q-section-opening .q-section:last-child {
	margin-bottom: 0;
}
.q-nav-by-topic__container{
	padding-bottom: 30px;
}
/*
 * qualys footer styles
 */
.q-footer {
	border-bottom: 0.375rem solid #ED2E26;
	border-top: 1px solid #E4E4E4;
	padding-bottom: 3rem;
}
.q-footer__container {
	margin: 0 5%;
}
.q-footer__heading {
	font-size: 1.875rem;
	margin-top: 6rem;
	max-width: 20rem;
}
.q-footer__search {
	display: flex;
	justify-content: center;
}
.q-footer__copy strong {
	font-style: italic;
}
.q-footer__copyright {
	display: block;
	text-align: center;
}
.q-footer__copyright a:link,
.q-footer__copyright a:visited {
	color: inherit;
}
.q-footer__column--nav {
	display: none;
	visibility: hidden;
}
/*
 * add styles to make the text slide left
 * and an arrow slide right and reveal itself
 */
.q-button-with-arrow span::after {
	color: inherit;
	content: "›";
	display: inline-block;
	font-size: 1.3em;
	line-height: calc(1 / 1.3);
	margin-left: -0.375em;
	opacity: 0;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.q-button-with-arrow span {
	display: inline-block;
	transition: transform 0.3s ease-out;
	width: 100%;
}
.q-button-with-arrow:hover span {
	transform: translateX(-0.5rem);
}
.q-button-with-arrow:hover span::after {
	transform: translateX(0.875rem);
	opacity: 1;
}
/*
 * social media icon styles
 */
.q-footer__social {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0 3rem;
}
.q-social-list {
	display: flex;
	list-style: none;
	margin: 0 -0.375rem;
	padding: 0;
}
.q-social-list__item {
	margin: 0.375rem;
}
.q-social-list__item a {
	align-items: center;
	border: 1px solid #1D2737;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	height: calc(3rem - 1px);
	width: calc(3rem - 1px);
}
.q-social-list__icon {
	height: 1.25rem;
	width: 1.25rem;
}
.q-social-list__icon path {
	fill: #1D2737;
}
.q-social-list__item a:hover {
	border-color: #6A778B;
}
.q-social-list__item a:hover .q-social-list__icon path {
	fill: #6A778B;
}
/*
 * thin search box styles
 */
.q-search__container {
	margin: calc(82px + 0.75em) 0 3.5rem;
	height: 82px;
	max-width: 1440px;
}
.q-search {
	margin: 0 5%;
}
.CoveoSearchInterface > * {
	display: none;
	visibility: hidden;
}
.coveo-after-initialization > * {
	display: inherit;
	visibility: inherit;
}
.q-coveo__wrapper {
	display: flex;
}
.CoveoSearchInterface {
	min-width: 0;
}
.q-coveo__wrapper .CoveoSearchButton,
.q-coveo__wrapper .CoveoOmnibox {
	border: 0 none;
	border-bottom: 2px solid #2E8BE0;
}
.q-coveo__wrapper .CoveoSearchButton {
	text-align: inherit;
	width: 26px;
}
.q-coveo-searchbutton {
	flex: 0 1 auto;
}
.q-coveo-querybox {
	flex: 1 1 auto;
}
.q-search .magic-box .magic-box-input .magic-box-underlay,
.q-search .magic-box .magic-box-input > input {
	color: #262626;
	font-family: Gotham, sans-serif;
	font-size: 100%;
	font-weight: 400;
	letter-spacing: -0.12px;
}
.q-search .magic-box .magic-box-input .magic-box-underlay,
.q-search .magic-box .magic-box-input > input::placeholder {
	color: #6A778B;
	opacity: 1;
}
.q-search .coveo-search-button-svg {
	color: #2E8BE0;
	height: 24px;
	width: 24px;
}
.q-search .magic-box .magic-box-clear::before {
	border: 0 none;
}
.q-search .magic-box .magic-box-clear .magic-box-icon::before {
	color: #2E8BE0;
	content: "✕";
}
/*
 * large search box styles
 */
.q-search__container-banner {
	background: rgb(2, 76, 151);
	background: linear-gradient(155deg, rgba(2, 76, 151, 1) 0%, rgba(116, 172, 205, 1) 99%, rgba(251, 246, 240, 1) 100%);
	background: url(https://ik.imagekit.io/qualys/image/background-clouds-in-sky-320-3x.jpg);
	background-size: cover;
	margin: 82px 0 1.25rem;
	height: auto;
	max-width: 100%;
}
.q-search__container-banner .q-search {
	margin: 0 12.5%;
	padding: 0 0 30px;
}
.q-search__container-banner h1 {
	color: white;
	font-size: calc(22 / 16 * 1rem);
	font-weight: 400;
	letter-spacing: calc(0.11 / 22 * 1em);
	line-height: calc(26 / 22);
	margin: 0 0 16px;
	padding: calc(27 / 22 * 1em) 5% 0;
	text-align: center;
}
.q-search__container-banner .CoveoSearchInterface {
	background: white;
	border: 1px solid white;
	border-radius: 3px;
	color: #F7FAFC;
	margin: 16px -3.125% 0;
	padding: 0;
}
.q-search__container-banner .q-coveo__wrapper .CoveoSearchButton,
.q-search__container-banner .q-coveo__wrapper .CoveoOmnibox {
	border-bottom: 0 none;
}
.q-search__container-banner .q-coveo-searchbutton {
	padding-left: 9px;
}
/*
 * style Coveo "More" menu in Coveo Tabs to match Qualys style
 */
.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header {
	color: #2E8BE0;
	font-weight: 500;
	height: auto;
	text-transform: none;
}
.coveo-small-tabs .coveo-tab-list * {
	height: auto;
	line-height: normal;
}
.coveo-more-tabs-svg {
	color: #2E8BE0;
}
.q-header__background, .q-header__background a:link, .q-header__background a:visited {
    color: #262626;
    text-decoration: none;
}
.q-header__background {
    background: #EEEFF2;
    font-family: Gotham, sans-serif;
    height: 82px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.4s;
    width: 100%;
    z-index: 99;
}
.q-nav-by-topic__container {
	font-family: Gotham, sans-serif;
	letter-spacing: -0.13px;
}
.q-nav-by-topic__container .q-nav-by-topic h2{
	text-align: center;
	color: #262626;
    font-family: Gotham, sans-serif;
	font-weight: 400;
    font-size: 2.125em;
    line-height: calc(46 / 40);
    letter-spacing: -0.2px;
    margin-top: 1.6em;
    margin-bottom: 0.4em;
}	
.q-featured-topic_name{
	text-align: center;
    color: #262626;
    font-family: Gotham, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(46 / 40);
    letter-spacing: -0.2px;
    text-decoration: none;
    width: 78%;
    margin: auto;

}
.q-topic-nav_featured-list li a:hover{
	text-decoration: none;
}
.q-featured-topic_icon i{
	font-size: 40px;
	color: #262626;
	margin-bottom: 15px;
}
.q-topic-nav_featured-list li {
    margin: 40px 0;
}
.q-nav-by-topic__heading {
	align-items: center;
	color: #262626;
	cursor: pointer;
	display: flex;
	font-size: 15px;
	letter-spacing: -0.13px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.q-nav-by-topic-solution ul {
	background: white;
	border-color: transparent #979797;
	border-style: none solid;
	border-width: 0 1px;
	color: #44536B;
	font-weight: 400;
	line-height: 1.25;
	margin: -1px;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
}
.q-nav-by-topic-solution:last-child ul {
	border-bottom: 1px solid #979797;
	border-radius: 0 0 6px 6px;
}
.q-nav-by-topic-solution.active ul {
	animation: accordian 0.4s both;
}
.q-nav-by-topic-solution li {
	list-style: none;
	padding: 0;
	opacity: 0;
	transform: translateY(-1rem);
	transition: opacity 0.4s, transform 0.4s;
}
.q-nav-by-topic-solution li:nth-child(1) {
	transition-delay: calc(0.05s * 1);
}
.q-nav-by-topic-solution li:nth-child(2) {
	transition-delay: calc(0.05s * 2);
}
.q-nav-by-topic-solution li:nth-child(3) {
	transition-delay: calc(0.05s * 3);
}
.q-nav-by-topic-solution li:nth-child(4) {
	transition-delay: calc(0.05s * 4);
}
.q-nav-by-topic-solution li:nth-child(5) {
	transition-delay: calc(0.05s * 5);
}
.q-nav-by-topic-solution li:nth-child(6) {
	transition-delay: calc(0.05s * 6);
}
.q-nav-by-topic-solution.active li {
	opacity: 1;
	transform: translateY(0);
}
.q-nav-by-topic-solution ul a {
	align-items: center;
	color: inherit;
	display: flex;
	padding-right: 1.25rem;
}
.q-nav-by-topic__app-icon {
	display: block;
	height: 40px;
	margin: 10px 20px;
	width: 40px;
}
.q-nav-by-topic__app-icon path:first-child {
	fill: #2E8BE0;
}
.q-nav-by-topic__app-icon path:last-child {
	fill: white;
}
.q-topic-nav_item {
	z-index: 2;
	text-align: center;
	font-family: "Caecilia", serif;
	font-size: 18px;
	color: #6A778B;
	margin: 20px 0 40px;
}
.q-topic-nav-underline {
	z-index: 1;
}
.q-topic-nav_item.active ~ .q-topic-nav-underline,
.q-topic-nav_item:hover ~ .q-topic-nav-underline {
	visibility: visible;
}
.q-topic-nav_item.active:nth-of-type(1) ~ .q-topic-nav-underline {
	left: 0;
	width: calc(90 / 18.2 * 1em);
}
.q-topic-nav_item.active:nth-of-type(2) ~ .q-topic-nav-underline {
	left: calc((114 / 19 * 1em));
	width: 1.65em;
}
.q-topic-nav_item:first-child {
	min-width: 98px;
	padding-right: 15px;
}
.q-topic-nav_item a.q-topic-tab_link {
	color: #6A778B;
	font-size: 18px;
	letter-spacing: -0.15px;
	text-decoration: none;
}
.q-topic-nav_item.active a.q-topic-tab_link {
	color: #262626;
	font-weight: 500;
}
.q-topic-nav_featured-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.q-topic-nav_featured-list li a {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.q-topic-nav_icon {
	display: block;
	height: 100%;
	width: 100%;
}
.q-topic-nav_icon path:first-child {
	fill: #2E8BE0;
}
.q-topic-nav_icon path:last-child {
	fill: #FFF;
}
.q-topic-heading-arrow {
	display: block;
	margin: 0 0 0 8px;
	transition: transform 0.3s;
}
.q-nav-by-topic__heading.active .q-topic-heading-arrow {
	transform: rotate(90deg);
}
.q-topic-nav_solutions {
	break-inside: avoid;
}
.q-topic-nav_solutions ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.q-topic-nav_solutions ul.show {
	display: block;
}
.q-topic-nav_solutions .q-nav-by-topic__heading {
	padding: calc(11 / 16 * 1rem) 13px calc(10 / 16 * 1rem);
}
.q-topic-nav_solutions ul li a {
	align-items: center;
	display: flex;
}
.q-apps-topic_icon {
	flex: 0 0 auto;
	width: 26px;
	margin: 6.5px 6.5px 6.5px 13px;
	height: 26px;
}
.q-all-topic_icon {
	height: 100%;
	width: 100%;
} 
.q-topic-nav_all {
	column-count: 1;
}
.q-topic-nav_solutions[data-index="3"] {
	order: 1;
}
.q-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.q-hamberger-menu {
    width: 40px;
    height: 40px;
}

.q-hamburger-menu__icon {
    margin-left: calc(calc(40px - 23px) / 2 * -1);
}
.q-user-menu__icon, .q-hamburger-menu__icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
    transform: translate(0, 0) rotate(0);
    transition: opacity 0.2s, height 0.2s, transform 0.6s, visibility 0 0.2s, display 0 0.2s;
    width: 40px;
}
.q-hamburger-menu__container {
    height: 0;
    margin-top: 2rem;
    min-width: calc(-2rem + 100vw + -2rem);
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translate(0, -1rem);
    transition: opacity 0.4s, transform 0.4s;
    visibility: hidden;
}
.q-header__nav {
    position: relative;
    left: 0;
    opacity: 1;
    transition: left 0.4s;
}

.q-header__nav, .q-header__nav ul, .q-user-menu__container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.q-header__logo .q-logo-text {
    display: block;
    margin-left: calc(1 / 4 * 1em);
}
.q-user-menu {
    height: 40px;
    position: relative;
    width: 40px;
}
.q-user-menu__icon.hidden {
    opacity: 0;
    transform: translate(0, 0.25em);
}
.hidden.hidden {
    display: none;
    visibility: hidden;
}
.q-user-menu__icon {
    margin-right: calc(calc(40px - 19px) / 2 * -1);
}
.q-user-menu__icon, .q-hamburger-menu__icon{
	align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
    transform: translate(0, 0) rotate(0);
    transition: opacity 0.2s, height 0.2s, transform 0.6s, visibility 0 0.2s, display 0 0.2s;
    width: 40px;
}
.q-search__container {
    margin: calc(82px + 0.75em) 0 3.5rem;
    height: 82px;
    max-width: 1440px;
}
.q-search__container-banner {
    background: rgb(2, 76, 151);
    background: linear-gradient(155deg, rgba(2, 76, 151, 1) 0%, rgba(116, 172, 205, 1) 99%, rgba(251, 246, 240, 1) 100%);
    background: url(https://ik.imagekit.io/qualys/image/background-clouds-in-sky-320-3x.jpg);
    background-size: cover;
    margin: 82px 0 1.25rem;
    height: auto;
    max-width: 100%;
}
.q-search__container-banner .q-search {
    margin: 0 12.5%;
    padding: 0 0 30px;
}
.q-search {
    margin: 0 5%;
}
.q-search__container-banner h1 {
    color: white;
    font-size: calc(22 / 16 * 1rem);
    font-weight: 400;
    letter-spacing: calc(0.11 / 22 * 1em);
    line-height: calc(26 / 22);
    margin: 0 0 16px;
    padding: calc(27 / 22 * 1em) 5% 0;
    text-align: center;
}
.q-search__container-banner .CoveoSearchInterface {
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    color: #F7FAFC;
    margin: 16px -3.125% 0;
    padding: 0;
}
.CoveoSearchInterface {
    min-width: 0;
}
.q-footer {
    border-bottom: 0.375rem solid #ED2E26;
    border-top: 1px solid #E4E4E4;
    padding-bottom: 3rem;
}
/*
 * minimum Coveo stlyles required for standalone search box 
 * source: https://static.cloud.coveo.com/searchui/v2.10084/css/CoveoFullSearch.css
 */
 .CoveoSearchInterface {
	min-width: 300px
}
.coveo-after-initialization meter,
.coveo-after-initialization progress,
.coveo-after-initialization input,
.coveo-after-initialization textarea,
.coveo-after-initialization keygen,
.coveo-after-initialization select,
.coveo-after-initialization button {
	display: inline-block;
}

.CoveoSearchButton {
	color: white;
	border: 1px solid #7e8c9a;
	border-left: none;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	height: 50px;
	width: 60px;
	cursor: pointer;
	line-height: 0;
}

.CoveoSearchButton:before {
	content: '';
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}

.CoveoSearchButton .coveo-search-button,
.CoveoSearchButton .coveo-search-button-loading {
	vertical-align: middle;
	animation: none;
	display: inline-block;
}

.CoveoSearchButton .coveo-search-button-loading-svg {
	display: none;
}

.coveo-search-button-svg {
	width: 18px;
	height: 18px;
	color: #1d4f76;
}

.CoveoSearchInterface {
	min-height: 100%;
	position: relative;
	margin: 0;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
	font-size: 15px;
	color: #313a45;
}

.CoveoSearchInterface .highlight {
	font-weight: bold;
}

.CoveoSearchInterface input[type='text']::-ms-clear {
	width: 0;
	height: 0;
}

.CoveoSearchInterface input[type='text'],
.CoveoSearchInterface textarea {
	color: #67768b;
}

.CoveoSearchInterface * {
	box-sizing: border-box;
}

.coveo-visible-to-screen-reader-only {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.magic-box {
	flex-grow: 1;
	position: relative;
	text-align: left;
	color: #212121;
}

.magic-box .magic-box-input {
	background: #fff;
	height: 48px;
	overflow: hidden;
	position: relative;
}

.magic-box .magic-box-input .magic-box-underlay,
.magic-box .magic-box-input > input {
	color: #212121;
	text-align: left;
	padding: 12px 49px 12px 12px;
	text-indent: 0;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	white-space: pre;
	overflow: auto;
	box-sizing: border-box;
	display: block;
}

.magic-box .magic-box-input input {
	background: none;
	border: none;
	resize: none;
	outline: 0;
}

.magic-box .magic-box-input input::-ms-clear {
	width: 0;
	height: 0;
}

.magic-box .magic-box-input .magic-box-underlay {
	color: transparent;
	overflow: hidden;
}

.magic-box .magic-box-input .magic-box-underlay > span {
	text-indent: 0;
}

.magic-box .magic-box-input .magic-box-underlay span {
	display: inline-block;
	vertical-align: top;
}

.magic-box .magic-box-input .magic-box-underlay span[data-value=''] {
	height: 24px;
}

.magic-box .magic-box-input .magic-box-underlay .magic-box-ghost-text {
	visibility: hidden;
	color: #bdbdbd;
}

.magic-box .magic-box-input .magic-box-underlay .magic-box-error {
	border-bottom: solid #f44336 2px;
}

.magic-box .magic-box-input .magic-box-underlay .magic-box-error.magic-box-error-empty {
	position: relative;
}

.magic-box .magic-box-input .magic-box-underlay .magic-box-error.magic-box-error-empty:before {
	content: ' ';
	border-bottom: solid #f44336 2px;
	position: absolute;
}

.magic-box .magic-box-input .magic-box-underlay:after {
	content: '';
	display: inline-block;
}

.magic-box .magic-box-clear {
	position: relative;
	float: right;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 24px;
	transition: visibility 0.3s, width 0.3s;
	cursor: pointer;
	background: #fff;
	width: 0;
	visibility: hidden;
	overflow: hidden;
}

.magic-box .magic-box-clear .magic-box-icon:before {
	color: #9e9e9e;
	font-family: arial, sans-serif;
	content: 'X';
	font-size: 24px;
}

.magic-box .magic-box-clear:before {
	content: '';
	border-left: #e0e0e0 1px solid;
	position: absolute;
	top: 15%;
	bottom: 15%;
	left: 0;
}

.magic-box.magic-box-notEmpty .magic-box-clear {
	width: 48px;
	visibility: visible;
}

.magic-box.magic-box-hasFocus .magic-box-underlay .magic-box-ghost-text {
	visibility: visible;
}

.magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion {
	display: block;
}

.magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion .coveo-magicbox-suggestions {
	border: thin solid #7e8c9a;
}

.magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion .coveo-suggestion-container {
	border: thin solid #7e8c9a;
}

.magic-box.magic-box-hasFocus .magic-box-suggestions.magic-box-hasSuggestion .coveo-suggestion-container .coveo-magicbox-suggestions {
	border: none;
}

.magic-box .magic-box-suggestions {
	clear: both;
	position: absolute;
	top: 100%;
	left: -1px;
	right: -1px;
	overflow: visible;
	background: #fff;
	z-index: 1;
	display: none;
	font-family: arial, sans-serif;
}

.magic-box .magic-box-suggestions .magic-box-suggestion-seperator,
.magic-box .magic-box-suggestions .magic-box-suggestion {
	opacity: 1;
	transition: opacity 0.3s;
}

.magic-box .magic-box-suggestions.magic-box-suggestions-loading .magic-box-suggestion-seperator,
.magic-box .magic-box-suggestions.magic-box-suggestions-loading .magic-box-suggestion {
	opacity: 0;
}

.magic-box .magic-box-suggestions .magic-box-suggestion-seperator {
	padding: 12px 12px 0;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	background: #fff;
	overflow: hidden;
	height: 36px;
	border-top: 1px solid #e0e0e0;
	color: #9e9e9e;
}

.magic-box .magic-box-suggestions .magic-box-suggestion-seperator:first-child {
	border-top: none;
}

.magic-box .magic-box-suggestions .magic-box-suggestion-seperator .magic-box-suggestion-seperator-label {
	float: left;
	margin-right: 12px;
	max-width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.magic-box .magic-box-suggestions .magic-box-suggestion-seperator:after {
	content: '';
	display: block;
	position: relative;
	top: 50%;
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

.magic-box .magic-box-suggestions .magic-box-suggestion-seperator + .magic-box-suggestion {
	border-top: none;
}

.magic-box .magic-box-suggestions .magic-box-suggestion {
	cursor: pointer;
	line-height: 24px;
	padding: 12px;
	font-size: 16px;
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-top: 1px solid #fafafa;
	color: #212121;
}

.magic-box .magic-box-suggestions .magic-box-suggestion .magic-box-hightlight {
	font-weight: bold;
	color: #000;
}

.magic-box .magic-box-suggestions .magic-box-suggestion:first-child {
	border-top: none;
}

.magic-box .magic-box-suggestions .magic-box-suggestion.magic-box-selected {
	background: #e0f7fa !important;
}

.magic-box .magic-box-suggestions .magic-box-suggestion:hover {
	background: #f5f5f5;
}

.magic-box.magic-box-inline {
	overflow: hidden;
}

.magic-box.magic-box-inline .magic-box-suggestions.magic-box-hasSuggestion {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	right: 0;
}

.magic-box.magic-box-inline .magic-box-suggestions.magic-box-hasSuggestion .coveo-magicbox-suggestions {
	border: none;
	border-top: thin solid #7e8c9a;
}

.magic-box.magic-box-inline .magic-box-suggestions.magic-box-hasSuggestion .coveo-suggestion-container {
	border: none;
	border-top: thin solid #7e8c9a;
}

.magic-box.magic-box-inline .magic-box-suggestions.magic-box-hasSuggestion .coveo-suggestion-container .coveo-magicbox-suggestions {
	border-top: none;
}

@media screen and (max-width: 374px) {
	.q-header__nav-sub .q-button__start-a-discussion,
	.q-header__nav-sub a.q-button__start-a-discussion,
	.q-header__nav-sub a:link.q-button__start-a-discussion,
	.q-header__nav-sub a:visited.q-button__start-a-discussion {
		display: none;
		visibility: hidden;
	}
}
@media screen and (min-width: 375px) {
	.q-nav-by-topic__container {
		margin: 0;
	}
}
@media screen and (max-width: 959px) {
	.q-user-menu__container {
		background: white;
		border: 1px solid #F5F5F5;
		box-shadow: 0 12px 24px 0 rgba(181, 181, 181, calc(1 / 3));
		right: calc(-2rem - 1px);
		opacity: 0;
		position: absolute;
		text-align: right;
		top: 50px;
		transition-delay: 0, 0.2s;
		transition-duration: 0.2s, 0;
		transition-property: opacity, visibility;
		transition-timing-function: ease-in;
		visibility: hidden;
	}
	.q-user-menu:hover .q-user-menu__container {
		visibility: visible;
		opacity: 1;
		transition-delay: 0, 0;
		transition-duration: 0.4s, 0;
		transition-timing-function: ease-out;
	}
	/*
	 * header dropdown menu arrow styles
	 */
	.q-user-menu__container::after,
	.q-user-menu__container::before {
		border-style: solid;
		content: "";
		display: block;
		top: -20px;
		height: 0;
		position: absolute;
		right: 2rem;
		width: 0;
	}
	.q-user-menu__container::before {
		border-color: transparent transparent #F5F5F5;
		border-width: 10px;
	}
	.q-user-menu__container::after {
		border-color: transparent transparent white;
		border-width: 11px;
		margin-right: -1px;
	}
}

@media screen and (max-width: 479px) {
	.q-nav-by-topic-solution.active .q-nav-by-topic__heading span::after,
	.q-nav-by-topic-solution:hover .q-nav-by-topic__heading span::after {
		transform: rotate(90deg);
	}
	.q-nav-by-topic-solution.active .q-nav-by-topic__heading span::after {
		transform: rotate(-90deg);
	}
}

@media screen and (min-width: 30em) {
	/*
	 * wide enough to put the topic nav in two columns
	 */
	.q-nav-by-topic__heading {
		cursor: inherit;
	}
	.q-nav-by-topic__container {
		position: relative;
	}
	.q-nav-by-topic-solution {
		display: flex;
		justify-content: space-between;
	}
	.active .q-nav-by-topic__heading span::after {
		transform: rotate(0);
	}
	.q-nav-by-topic-solution:first-child .q-nav-by-topic__heading {
		margin-top: calc(0.5rem + 15px);
	}
	.q-nav-by-topic-solution:last-child .q-nav-by-topic__heading {
		margin-bottom: calc(0.5rem + 15px);
	}
	.q-nav-by-topic-solution ul {
		border-color: #979797 #979797 #979797 #2E8BE0;
		border-radius: 0 3px 6px 0;
		border-style: solid;
		border-width: 1px;
		bottom: 0;
		display: flex;
		flex-flow: column wrap;
		padding-right: 1.25rem;
		position: absolute;
		right: 0;
		top: 0;
		width: calc(100% - 16em);
	}
	.q-nav-by-topic-solution:last-child ul {
		border-radius: 0 3px 6px 0;
	}
	.q-featured-topic_name{
		text-align: center;
		color: #262626;
		font-family: Gotham, sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: calc(46 / 40);
		letter-spacing: -0.2px;
		text-decoration: none;
		width: 78%;
		margin: auto;
	
	}
	 .q-featured-topic_icon i{
		font-size: 50px;
		color: #262626;
		margin-bottom: 15px;
	} 
	/*
	 * limit width to 50% when there are move than 4 items
	 */
	.q-nav-by-topic-solution li {
		width: 50%;
	}
	.q-nav-by-topic-solution li:first-child:nth-last-child(4),
	.q-nav-by-topic-solution li:first-child:nth-last-child(4) ~ li {
		width: 100%;
	}
	.q-nav-by-topic-solution li:first-child:nth-last-child(3),
	.q-nav-by-topic-solution li:first-child:nth-last-child(3) ~ li {
		width: 100%;
	}
	.q-nav-by-topic-solution li:first-child:nth-last-child(2),
	.q-nav-by-topic-solution li:first-child:nth-last-child(2) ~ li {
		width: 100%;
	}
	.q-nav-by-topic-solution li:first-child:nth-last-child(1),
	.q-nav-by-topic-solution li:first-child:nth-last-child(1) ~ li {
		width: 100%;
	}

	/* I'm not sure any of the above still applies */

	/*
	 * Choose a topic nav, featured topics
	 */
	.q-topic-nav_featured-list {
		display: flex;
		flex-flow: row wrap;
	}
	.q-topic-nav_featured-list li {
		width: 50%;
	}

	/*
	 * Choose a topic nav, all topics
	 */
	.q-topic-nav_all {
		column-count: 2;
	}
	.q-topic-heading-arrow {
		display: none;
	}
	.q-topic-nav_solutions ul {
		display: block;
		padding-bottom: 1.5rem;
	}
	h2 {
		font-size: 2.5em;
	}
	/*
	 * expand logo to reveal text
	 */
	.q-header__logo .q-logo-shield {
		width: 111px;
	}
	/* hide mobile-only nav items */
	.q-navigation__mobile-only {
		display: none;
		visibility: hidden;
	}
	.q-navigation__desktop-only {
		display: initial;
		visibility: inherit;
	}

	/*
	 * large search box styles
	 */
	.q-search__container-banner {
		background: url(https://ik.imagekit.io/qualys/image/background-clouds-in-sky-768-3x.jpg);
		background-position: center;
		background-size: cover;
		margin: 82px 0 1.5rem;
	}
	.q-search__container-banner .q-search {
		margin: 0 20%;
		padding: 0 0 42px;
	}
	.q-search__container-banner h1 {
		line-height: calc(46 / 22);
		padding-top: 2.5rem;
		margin-bottom: 0;
	}
	.q-search__container-banner .CoveoSearchInterface {
		margin-top: 0;
	}

	/*
	 * footer
	 */
	.q-footer__search,
	.q-footer__social {
		justify-content: flex-start;
	}
	.q-footer__copyright {
		text-align: left;
	}
	.q-footer .q-button__start-a-discussion,
	.q-footer a.q-button__start-a-discussion,
	.q-footer a:link.q-button__start-a-discussion,
	.q-footer a:visited.q-button__start-a-discussion {
		margin-left: 0;
	}
	.q-footer__column--nav {
		column-count: 2;
		display: block;
		margin: 3rem -15px 0;
		visibility: visible;
	}
	.q-footer__group {
		break-inside: avoid-column;
		margin: 0 15px;
	}
	.q-footer__column--nav .q-footer__subheading {
		margin-top: 0;
	}
	.q-footer__subheading {
		font-size: 1.125em;
		font-weight: 500;
		margin-bottom: 0.375rem;
	}
	.q-footer__list {
		list-style: none;
		margin: 0 0 3rem;
		padding: 0;
	}
	.q-footer__list-item {
		padding: 0.375em 0;
	}
	/*
	 * footer links must be "inline" without "padding" for
	 * the animated red underline to work with multi-line text
	 */
	.q-footer__list a:link,
	.q-footer__list a:visited {
		color: inherit;
		display: inline;
		font-family: Gotham, sans-serif;
	}
}



@media screen and (min-width: 40em) {
	/*
	 * adjust header
	 */
	 .q-header__background,
	 .q-header__background a:link,
	 .q-header__background a:visited {
		 color: #6A778B;
		 letter-spacing: -0.2px;
		 line-height: calc(26 / 15);
	 }
	 .q-header__nav a,
	 .q-header__nav li > span,
	 .q-user-menu__container a {
		 font-size: calc(16 / 16 * 1rem);
		 font-weight: 400;
		 padding: 1em 0.375em;
	 }
	 .q-header__logo {
		 order: 1;
	 }
	 .q-hamberger-menu {
		 order: 2;
		 width: auto;
		 height: auto;
	 }
	 .q-hamburger-menu__container {
		 height: 100%;
		 margin-top: 0;
		 min-width: 0;
		 opacity: 1;
		 overflow: visible;
		 transform: translate(0, 0);
		 visibility: visible;
	 }
	 .q-user-menu {
		 order: 3;
	 }
	 .q-hamburger-menu__icon {
		 display: none;
		 height: 0;
		 margin-left: 0;
		 visibility: hidden;
	 }
	 .q-header__nav {
		 display: flex;
	 }
	 .q-header__container {
		 justify-content: space-between;
		 margin-left: 5%;
		 margin-right: 5%;
	 }
	 /*
	  * Discussions drop down menu
	  */
	 .q-header__nav li {
		 position: relative;
	 }
	 .q-header__nav-sub {
		 background: white;
		 border: 1px solid #F5F5F5;
		 box-shadow: 0 12px 24px 0 rgba(181, 181, 181, calc(1 / 3));
		 display: block;
		 height: auto;
		 left: -2rem;
		 min-width: 20rem;
		 opacity: 0;
		 padding: 2em;
		 top: calc(1rem + 1.5rem + 1rem);
		 transition-delay: 0.02s, 0.2s;
		 transition-duration: 0.2s, 0.02s;
		 transition-property: opacity, visibility;
		 transition-timing-function: ease-in;
		 visibility: hidden;
		 width: auto;
		 z-index: 1;
	 }
	 .q-header__nav-sub a {
		 padding: 1rem 2rem;
	 }
	 .q-header__nav-sub li.q-browser-by-topic span {
		 color: #6A778B;
		 font-size: calc(12 / 16 * 1rem);
		 font-weight: 400;
		 opacity: calc(2 / 3);
		 padding: 1rem 2rem 0;
		 text-transform: uppercase;
	 }
	 /*
	  * header dropdown menu arrow styles
	  */
	 .q-header__nav-sub::before,
	 .q-header__nav-sub::after {
		 border-color: transparent;
		 border-style: solid;
		 border-width: 9px;
		 border-bottom-color: white;
		 bottom: 100%;
		 content: "";
		 display: block;
		 height: 0;
		 left: calc(2rem + ((81 / 15 * 1em) / 2) - 5px);
		 position: absolute;
		 width: 0;
	 }
	 .q-header__nav-sub::before {
		 border-width: 10px;
		 border-bottom-color: #F5F5F5;
		 margin-left: -1px;
	 }
 
	 .q-header__nav-sub li:first-child {
		 display: none;
		 visibility: hidden;
	 }
	 .q-button__start-a-discussion,
	 a.q-button__start-a-discussion,
	 a:link.q-button__start-a-discussion,
	 a:visited.q-button__start-a-discussion {
		 margin-left: 2rem;
	 }
	 .q-button__light-blue,
	 a.q-button__light-blue,
	 a:link.q-button__light-blue,
	 a:visited.q-button__light-blue {
		 color: white;
	 }
	
}

@media screen and (min-width: 45em) {
	.q-topic-nav_all {
		column-count: 3;
	}
}

@media screen and (min-width: 60em) {
	.q-topic-nav_featured-list li {
		width: calc(100% / 3);
	}
	.q-topic-nav_all {
		column-count: 4;
	}
	.q-topic-nav_solutions .q-nav-by-topic__heading {
		font-size: 0.8rem;
		padding-left: 1.25rem;
	}
	.q-topic-nav_solutions ul {
		padding-bottom: 3rem;
	}
	.q-apps-topic_icon {
		width: 2.5rem;
		margin: 0.625rem 0.625rem 0.625rem 1.25rem;
		height: 2.5rem;
	}
	html {
		font-size: 100%;
	}
	body {
		font-size: 1em;
	}


	.q-header__background,
	.q-header__background a:link,
	.q-header__background a:visited {
		color: #6A778B;
	}


	.q-header {
		margin: 0 auto;
		max-width: 1440px;
	}
	.q-user-menu {
		text-align: right;
	}
	.q-user-menu__icon {
		display: none;
		visibility: hidden;
	}
	.q-user-menu li {
		padding: 0;
	}
	.q-header__nav,
	.q-user-menu__not-logged-in {
		font-weight: 500;
	}
	.q-header__nav {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.q-header__nav a {
		padding: 1rem 0.75rem;
	}
	.q-header__nav-sub a {
		padding: 0.75rem 2rem;
	}
	.q-header__nav-sub::before,
	.q-header__nav-sub::after {
		left: calc(2rem + ((81 / 16 * 1em) / 2));
	}
	.q-header__nav a:link,
	.q-header__nav a:visited {
		text-decoration: none;
		/* transition: color 0.4s; */
	}
	.q-user-menu__not-logged-in ul {
		display: flex;
		line-height: 14px;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.q-user-menu__not-logged-in li a {
		padding: 1em 0.75em;
	}
	.q-user-menu__not-logged-in li:last-child a {
		padding-right: 0;
	}
	.q-button__light-blue,
	a.q-button__light-blue,
	a:link.q-button__light-blue,
	a:visited.q-button__light-blue {
		color: white;
	}

	/*
	 * large search box styles
	 */
	.q-search__container-banner {
		background: url(https://ik.imagekit.io/qualys/image/background-clouds-in-sky-1440-2x.jpg);
		background-position: center;
		background-size: cover;
	}
	.q-search__container-banner .q-search {
		padding: 0 0 81px;
	}
	.q-search__container-banner h1 {
		font-size: calc(36 / 16 * 1rem);
		line-height: calc(46 / 36);
		padding: 3.75rem 0 0;
		margin-bottom: 18px;
	}
	.q-search__container-banner .CoveoSearchInterface {
		max-width: 40rem;
		margin: 0 auto;
	}

	/*
	 * footer styles
	 */
	.q-footer__row {
		display: flex;
		margin: 0 5%;
	}
	.q-footer__column--wide {
		flex: 0 0 auto;
		margin-right: 30px;
		width: calc(40% - 30px);
	}
	.q-footer__column--nav {
		margin-top: 6.5rem;
	}
	.q-footer__container {
		margin: 0 auto;
		max-width: 1440px;
	}

	@media (min-width: 75em) {
		.q-user-menu {
			display: flex;
			justify-content: flex-end;
			min-width: 218px;
		}
	}
	@media (min-width: 90em) {
		.q-header__container {
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;
			max-width: 1290px;
		}
		.q-search__container {
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media (any-hover: hover) {
		/*
		 * animated red underline
		 */
		.q-nav__link,
		.q-footer__link,
		.q-sub-nav-list__link {
			display: inline;
			text-decoration: none;
			background-clip: content-box;
			background-image: linear-gradient(#ED2E26, #ED2E26);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 0% 3px;
			transition: background-size 0.5s;
		}
		.q-footer__link {
			background-position: 0% 94%;
		}
		.q-nav__link:hover,
		.q-nav__link:focus,
		.q-footer__link:hover,
		.q-footer__link:focus,
		.q-sub-nav-list__link:hover,
		.q-sub-nav-list__link:focus {
			background-size: 100% 3px;
			cursor: pointer;
			text-decoration: none;
		}
		.q-header__nav-sub .q-nav__link {
			background-position: 0 calc(100% - 1em);
		}
		/*
		 * sliding red underline
		 */
		.q-header__nav,
		.q-user-menu__container ul {
			position: relative;
		}
		.q-header__nav .q-header__nav-underline,
		.q-user-menu__container ul .q-header__nav-underline {
			background: #ED2E26;
			height: 3px;
			position: absolute;
			top: 2.25em;
			transition: left 0.4s, width 0.4s;
			width: 0;
			visibility: hidden;
		}
		.q-navigation__item {
			z-index: 2;
		}
		.q-header__nav-underline {
			z-index: 1;
		}
		.q-navigation__item:hover ~ .q-header__nav-underline {
			visibility: visible;
		}
		.q-header__nav .q-navigation__item:nth-of-type(2):hover ~ .q-header__nav-underline {
			left: 0.75em;
			width: calc(90 / 16 * 1em);
		}
		.q-header__nav .q-navigation__item:nth-of-type(3):hover ~ .q-header__nav-underline {
			left: calc((114 / 16 * 1em) + 0.75em);
			width: 2.25em;
		}
		.q-header__nav .q-navigation__item:nth-of-type(4):hover ~ .q-header__nav-underline {
			left: calc((174 / 16 * 1em) + 0.75em);
			width: 3.8125em;
		}
		.q-header__nav .q-navigation__item:nth-of-type(5):hover ~ .q-header__nav-underline {
			left: calc((259 / 16 * 1em) + 0.75em);
			width: calc(39 / 16 * 1em);
		}
		.q-header__nav .q-navigation__item:nth-of-type(6):hover ~ .q-header__nav-underline {
			left: calc((322 / 16 * 1em) + 0.75em);
			width: calc(63 / 16 * 1em);
		}
		.q-user-menu__container ul .q-navigation__item:nth-of-type(2):hover ~ .q-header__nav-underline {
			left: 0.75em;
			width: 2.75em;
		}
		.q-user-menu__container ul .q-navigation__item:nth-of-type(3):hover ~ .q-header__nav-underline {
			left: calc(4.25em + 0.75em);
			width: 4em;
		}
	}
}

@media screen and (min-width: 75em) {
	.q-topic-nav_featured-list {
		width: calc(80% - 1.5rem);
		flex-wrap: wrap;
		margin: auto;
	}
	.q-topic-nav_featured-list li {
		flex: 1 1 auto;
		width: 25%;
		margin-bottom: 60px;
		margin-top: 40px;
	}
	.q-topic-nav_all {
		column-count: 5;
	}
}

@media screen and (min-width: 80em) {
	/*
	 * arrange categories six wide
	 */
	.q-nav-by-topic-solution {
		display: block;
	}
	.q-nav-by-topic-solution:first-child .q-nav-by-topic__heading {
		margin-top: 0;
	}
	.q-nav-by-topic-solution:last-child .q-nav-by-topic__heading {
		margin-bottom: 0;
	}
	.q-nav-by-topic__heading {
		margin: 0;
		padding: 0.75rem 0.375em;
	}
	.active .q-nav-by-topic__heading {
		color: #262626;
		font-weight: 500;
	}
	.q-nav-by-topic-solution.active .q-nav-by-topic__heading span,
	.q-nav-by-topic-solution:hover .q-nav-by-topic__heading span {
		margin-left: 0;
	}
	.q-nav-by-topic__heading span::after {
		display: none;
	}
	.q-nav-by-topic-solution ul {
		background: #2E8BE0;
		border-color: #2E8BE0;
		border-radius: 2px;
		color: white;
		display: flex;
		flex-flow: row nowrap;
		left: 0;
		top: 3em;
		text-align: left;
		width: 100%;
	}
	.q-nav-by-topic-solution:last-child ul {
		border-radius: 2px;
	}
	.q-nav-by-topic-solution li:first-child:nth-last-child(n),
	.q-nav-by-topic-solution li:first-child:nth-last-child(n) ~ li {
		width: auto;
	}
	.q-nav-by-topic__app-icon path:first-child {
		fill: white;
	}
	.q-nav-by-topic__app-icon path:last-child {
		fill: #2E8BE0;
	}

	/*
	 * help the categories with six apps fit
	 */
	.q-nav-by-topic-solution:first-child ul a {
		font-size: calc(15 / 16 * 1em);
	}
	.q-nav-by-topic-solution:nth-child(2) ul a {
		font-size: calc(14 / 16 * 1em);
	}
	@media screen and (min-width: 81.25em) {
		.q-nav-by-topic-solution:first-child ul a {
			font-size: 1em;
		}
		.q-nav-by-topic-solution:nth-child(2) ul a {
			font-size: calc(15 / 16 * 1em);
		}
	}
	@media screen and (min-width: 84.25em) {
		.q-nav-by-topic-solution:nth-child(2) ul a {
			font-size: 1em;
		}
	}
}

